extends ../home.pug
block append script
    script(src="/public/js/register.js")
block modal
    .modal
        .modal__frame
            .modal__frame_register
                form
                   .modal__text
                        .modal__text_title
                             p Регистрация
                        p.error-description 
                        input(type='text', name='email', placeholder='e-mail', id='email')
                        br
                        input(type='text', name='login', placeholder='Имя', id='login')
                        br
                        input(type='text', name='password', placeholder='Пароль', id='pass')
                        br
                        input(type='text', name='password-copy', placeholder='Подтвердить пароль', id='copy-pass')
                        br
                        button.btn(type='submit') Зарегестрироваться
                   .modal__text
                        .modal__text_link
                             a(href='/') На главную
