footer.footer
     .row
         .col-4
             .footer__logo
                 a(href="#!/")
                     img(src="/public/img/logo.png", alt="toDo - everything on time") 
         .col-4
            a(href="/contacts") Контакты
         .col-4
            p &copy;2017 Denis Kovalishyn
