meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
block style
link(rel="stylesheet", href="/public/css/style.css")
link(rel="stylesheet", href="/public/css/jquery-ui.min.css")
link(rel="stylesheet", href="/public/css/ion.rangeSlider.css")
link(rel="stylesheet", href="/public/css/ion.rangeSlider.skinHTML5.css")
title toDo - everything on time
<!--[if IE 8]>
        <script src="/public/libs/html5shiv.min.js"></script>
        <script src="/public/libs/jquery-1.9.1.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
script(src="/public/libs/jquery-3.1.1.js")
<!--<![endif]-->
script(src="/public/libs/jquery.placeholder.min.js")
script(src="/public/libs/jquery-ui.min.js")
script(src="/public/libs/ion.rangeSlider.min.js")
script(src="/public/libs/moments.js")
script(src="/public/libs/owl.carousel.min.js")
block script