header.header
            nav.nav
                .logo
                    a(href="/")
                        img(src="/public/img/logo.png", alt="toDo - everything on time")
                a(href=(login)?"/main":"#", class="btn btn__login") Войти