extends index.pug
block main
    .row
        .col-12
            .content-box
                .content-box__title
                    h1 Доступ запрещен
                    p Для продолжения работы нужно зарегестрироваться или войти.
                    a(href="/") Вернуться на главную