extends index.pug
block main
    .row
            .col-12
                .content-box
                    .content-box__title
                        h1 Упс.. Такой страницы не найдено!
                        a(href="/") Вернуться на главную