extends home.pug
block main
    .content-box
        .row
            .col-12
                #map
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.0823311488352!2d30.627032715984868!3d50.47681097947902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d0127fb57a8f%3A0x100f80c3f318b784!2z0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQmtGD0YDRh9Cw0YLQvtCy0LAsIDE0LCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1484507025034" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen)
        .row
            .col-6
                    h1 Контактные данные:

                    p.
                         02156<br>
                         Украина, Киев,<br>
                         ул. Академика Курчатова, 14, кв. 22<br>
            .col-6
                    p e-mail 
                        a(href="mailto:dkovalishyn@gmail.com") dkovalishyn@gmail.com
                    p тел. 
                        a(href="tel:0938134594") +380 (93) 813-45-94
                    p Мы будем рады ответить на все Ваши вопросы!
