doctype html
html(lang="ru")
    head
        include includes/head.pug
    body
        #root
            .fixed-overlay.fixed-overlay__modal
                block modal
            include includes/header.pug
            #main   
                block main
            include includes/footer.pug